<table class="table">

    <!--Table head-->
    <thead class="grey">
        <tr>
            <th>Aadhaar No.</th>
			<th>Request ID</th>
			<th>Claim type</th>
			<th>Supporting Documents</th>
			<th>Status</th>
			<th>Approve</th>
			<th>Reject</th>
        </tr>
    </thead>
    
    <tbody>
        
        
    </tbody>
    <!--Table body-->

</table>
<!--Table-->